*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    color: #555;
}

.jumbotron{
    color: #fff;
    background-image:linear-gradient(rgba(10, 106, 6, 0.87),rgba(10, 106, 6, 0.87)),url(../img/common.png);
}

@media (min-width: 1200px)
.container {
    max-width: 1200px;
}

/*--------------------------
OWL COROUSEL
----------------------------*/
.owl-corousel{
    margin-top: 30px;
}

/*--------------------------
SIDENAV
----------------------------*/

.sidenav {
  width: 130px;
  position: sticky;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}
/*--------------------------
BODY
----------------------------*/
.container{
    width: 100%;
}

.jumbotron{
    background-color: rgba(13, 101, 2, 0.92);
}

/*--------------------------
queries
----------------------------*/

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}