html,body{
    color: #555;
}

.jumbotron{
    color: #fff;
    background-image:linear-gradient(rgba(10, 106, 6, 0.87),rgba(10, 106, 6, 0.87)),url(../img/common.png);
}

/*--------------------------
OWL COROUSEL
----------------------------*/
.owl-corousel{
    margin-top: 30px;
}

/*--------------------------
SIDENAV
----------------------------*/

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/*--------------------------
BODY
----------------------------*/
.container{
    width: 100%;
}

.jumbotron{
    background-color: rgba(13, 101, 2, 0.92);
}

/*--------------------------
queries
----------------------------*/

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}